<%= form_with url: conversation_messages_path, model: @message , class: 'form-create' do |m| %>
    <div class='form-create-text'>
        <%= m.label :text%>
        <%= m.text_area :text %>
    </div>

    <div class='form-create-date'>
        <%= m.label :sent_date%>
        <%= m.datetime_local_field :sent_date %>
        <%= m.submit "Submit" %>
    </div>
<% end %>