<div>
    <%= link_to "Back to Convo:  #{@message.c_title}", conversation_path(@message.conversation_id)%>
    <h2><%= @message.text %></h2>
    <%= @message.sent_date.strftime('%m-%d-%Y')%>
    <%= link_to "Create Thought", new_conversation_message_thought_path(@message.conversation_id, @message) %>

    <ul>
        <% @sorted_thoughts.each do |t| %>
            <div>
                <li><%=t.text%></li>
                <li><%=t.sent_date.strftime('%m-%d-%Y')%></li>
            </div>
        <% end %>
    </ul>
</div>