<%= form_with model: @conversation , class: 'form-create' do |c| %>
    <div class='form-create-text'>
        <%= c.label :title%>
        <%= c.text_area :title %>
    </div>

    <div class='form-create-date'>
        <%= c.label :start_date%>
        <%= c.date_field :start_date %>
        <%= c.submit "Submit" %>
    </div>
<% end %>