<!DOCTYPE html>
<html>
  <head>
    <title>RemeshLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Remesh Lite - Timothy Wu 3/27/2021</h2>
  <%= link_to "Back to Home", root_path%>
    <%= yield %>
  </body>
</html>
